body{
    margin: 0;
    width: 100%;
    padding-top: 70px;
    font-family: cursive, 游ゴシック, sans-serif;
}

/* ヘッダー */
header{
    height: 50px;
    z-index: 10;
    position: fixed;
    left:0;
    top:0;
}

header li{
    list-style: none;
    float: left;
    padding-right: 10px;
}

header a{
    text-decoration: none;
    font-size: 18px;
}

/* メイン */
main{
    text-align: center;
    height:190rem;

}

.Top{
    font-size: 20px;
    padding: 15% 0 25% 0;
}

.Profile{
    padding: 15% 0 25% 0;
}

.Profile img{
    width: 200px;
}

.Profile h1{
    border-bottom: 4px solid;
    display: inline-block;
}

.Career{
    padding: 15% 0 25% 0;
}

.Career h2{
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 40px;
}

/* フッター */
footer{
    text-align: center;
}